<div class="row">
    <div class="container col-md-2 col-md-offset-5">
        <h5>Upgrade your account</h5>
        <form action="/Home/Charge" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_xJqrw307hdZrPArljsXcQOdO"
                    data-amount="100"
                    data-name="My Project Name"
                    data-description="Premium Account ($1)"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true"
                    data-currency="usd">
            </script>
        </form>
    </div>    
</div>